# https://dart.dev/tools/private-files
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter ignored files
.flutter-plugins
.flutter-plugins-dependencies
*.dill
*.so
*.dylib
*.dll

# IDE / OS files
.DS_Store
.idea/
*.iws
*.iml
*.ipr
.vscode/
