# https://dart.dev/tools/private-files
# Created by `dart pub`
.dart_tool/

# Build artifacts and caches
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
**/ephemeral/
generated_plugins.cmake
